@import "var";
@import "basic";

/**************
TOOP BAR
**************/
.top-bar {
  background-color: $primary;
  ul {
    padding: 10px 0;
    text-align: right;
    li {
      display: inline-block;
      color: $white;
      margin-right: 5px;
      padding-right: 10px;
      border-right: 1px solid $lightGray;
      i {
        margin-right: 5px;
      }
      &:last-child {
        padding-right: 0;
        border-right: none;
      }
    }
  }
}

/**************
navbar
**************/

.navbar {
}
