@import "var";
@import "basic";
@import "mixins";
@import "global";

/**************
TOOP BAR
**************/
.top-bar {
  background-color: $primary;
  ul {
    padding: 10px 0;
    text-align: right;
    li {
      @include clearRightSpace($m-right: 5px, $p-right: 10px);
      display: inline-block;
      color: $white;
      border-right: 1px solid $lightGray;
      font-size: 0.9rem;
      i {
        margin-right: 5px;
      }
      &:last-child {
        border-right: none;
      }
    }
  }
}

/**************
NAV
**************/
nav {
  padding: 10px 0;
  article {
    @include flex($y: center);
  }
  .navbar {
    ul {
      @include flex;
      li {
        @include clearRightSpace($m-right: 30px);
        font-weight: 600;
        color: $lightGray;
      }
    }
  }
}

/*************
HEADER
*************/
header {
  height: 60vh;
  position: relative;
  color: $white;
  img {
    @include bgBasic;
    width: 100%;
    height: 100%;
  }
  article {
    @include flex(center, center, column);
    text-align: center;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    p {
      margin: 20px 0;
    }
    .btn {
      margin-right: 10px;
      &:last-child {
        background-color: $gray;
      }
    }
  }
}
